<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <rule name="fmws" enabled="true" stopProcessing="false">
          <action type="Rewrite" url="http://localhost:9090/{R:0}" />
          <match url="^fmws(/(.*))?" />
          <conditions>
            <add input="{SERVER_PORT}" pattern="443" />
          </conditions>
        </rule>
        <rule name="streaming" enabled="true" stopProcessing="false">
          <action type="Rewrite" url="http://127.0.0.1:16001/{R:0}" />
          <match url="^Streaming(/(.*))?" />
          <conditions>
            <add input="{SERVER_PORT}" pattern="80" />
          </conditions>
        </rule>
        <rule name="uac" enabled="true" stopProcessing="false">
          <action type="Rewrite" url="http://127.0.0.1:16001/{R:0}" />
          <match url="(.*)" />
          <conditions>
            <add input="{SERVER_PORT}" pattern="16000" />
          </conditions>
        </rule>
        <rule name="https_admin-console" enabled="true" stopProcessing="true">
          <match url="^admin-console(/(.*))?" />
          <conditions>
            <add input="{SERVER_PORT}" pattern="80" />
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}:16000/admin-console" redirectType="Found" />
        </rule>
        <rule name="https_test_page" enabled="true" stopProcessing="true">
          <match url="^test$" />
            <conditions>
              <add input="{SERVER_PORT}" pattern="80" />
              <add input="{HTTPS}" pattern="off" />
            </conditions>
            <action type="Redirect" url="https://{HTTP_HOST}:16000/test" redirectType="Found" />
        </rule>
        <rule name="https_webd" enabled="false" stopProcessing="true">
          <match url="^fmi/webd(/(.*))?" />
          <conditions>
            <add input="{SERVER_PORT}" pattern="80" />
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}:443/fmi/webd/{R:1}" redirectType="Found" />
        </rule>
                <rule name="CWPHelpAlt" stopProcessing="true">
                    <action type="Rewrite" url="http://localhost:16020/fmwd_help/{R:1}" />
                    <match url="^fmi/fmwd_help/(.*)" />
                </rule>
                <rule name="BlockConf" stopProcessing="true">
                    <match url="^fmi/conf/(.*)" />
                    <action type="AbortRequest" />
                </rule>
                <rule name="FMWebPublishing" stopProcessing="true">
                    <action type="Rewrite" url="http://localhost:16020/fmi/{R:1}" />
                    <match url="^fmi/(.*)" />
                </rule>
                <rule name="CWPHelp" stopProcessing="true">
                    <action type="Rewrite" url="http://localhost:16020/fmwd_help/{R:1}" />
                    <match url="^fmwd_help/(.*)" />
                </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <requestLimits maxAllowedContentLength="4294967295" />
      </requestFiltering>
    </security>
        <directoryBrowse enabled="false" />
        <httpErrors>
            <clear />
        </httpErrors>
  </system.webServer>
</configuration>
