

body .v-window-modalitycurtain {
    background: #fbfafa;
}


.v-window-maximizebox,
.v-select-optiongroup.v-widget,
.v-window-wrap div.v-window-header,
.v-slot.v-align-center.v-align-middle .v-expand .v-slot .v-label.v-widget.v-has-width {
    display: none;
}

#footer_html {
    display: none;
    font-size: 13px;
    text-align: left;
}
#footer_html p,
#footer_html li {
    white-space: normal;
}

.v-window,
.v-shadow-window {
    top: 10px !important;
}

.v-button-wrap {
    cursor: pointer;
}

.v-label-login_header {
    background: url(images/login-header-text.png?v=11) no-repeat top left;
    color: white;
    width: 315px;
    height: 40px;
    padding-top:40px;
    overflow: hidden;
}
.v-slot.v-align-right.v-align-bottom {
    background: url(images/login-footer-text.png) no-repeat bottom left;
    height: 220px;
}
.v-slot.v-align-right.v-align-bottom:before {
    display: none !important;
}
.v-slot.v-align-right.v-align-bottom .v-widget {
    padding-top: 5px;
}

@media (max-width: 721px) {
    .v-window-wrap .v-window-outerheader {
        background: url(images/headerbeeld.jpg) no-repeat;
        height: auto;
    }

    .v-window,
    .v-window.v-has-width > div.popupContent,
    .v-shadow-window,
    .v-window-wrap .v-window-outerheader,
    .v-window.v-has-width .v-window,
    .v-window.v-has-width .v-window-wrap,
    .v-window.v-has-width .v-window-contents,
    .v-window.v-has-width .v-window-contents > div {
        width: 100%;
    }


}
@media (min-width: 721px) {

    .v-window-wrap .v-window-outerheader {
        background: url(images/headerbeeld.jpg) no-repeat;
        height: 228px;
    }

    .v-window,
    .v-window.v-has-width > div.popupContent,
    .v-shadow-window,
    .v-window-wrap .v-window-outerheader,
    .v-window.v-has-width .v-window,
    .v-window.v-has-width .v-window-wrap,
    .v-window.v-has-width .v-window-contents,
    .v-window.v-has-width .v-window-contents > div {
        width: 721px !important;
    }

    .v-horizontallayout.v-layout.v-horizontal.v-widget.v-margin-top.v-margin-left {
        width: 392px;
    }

    .v-shadow-window {
        height: 620px !important;
    }
    .popupContent,
    .v-window.v-widget.v-readonly.v-has-width {
        height: 620px !important;
        overflow: hidden;
    }
}